$PrimaryColor: #39cdcc;

$Font_AvenirNext: "Avenir Next";

$MainTextColor: #213f7d;
$SubTextColor: #545f7d;

$DashBoard_UsersColor: #df18ff;
$DashBoard_ActiveUsersColor: #5718ff;
$DashBoard_UserWithLoansColor: #f55f44;
$DashBoard_UserWithSavingsColor: #ff3366;
$DashBoard_PendingStatusColor: #e9b200;
$DashBoard_BlacklistedStatusColor: #e4033b;
$DashBoard_ActiveStatusColor: #39cd62;
