@import "../../../style/variables";

.UserPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // width: 90vw;
  // padding-right: 1.9rem;
  gap: 1.4rem;
  padding-bottom: 3rem;
  @media (max-width: $TabletAnBelow) {
    padding: 2rem 5%;
  }
  * {
    font-family: $Font_WorkSans;
  }
  h1 {
    color: $MainTextColor;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 4px;
  }
  .main-cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;

    @media (max-width: $TabletAnBelow) and (min-width: 425px) {
      padding-right: 4rem;
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: $TabletAnBelow) {
      padding: 0 2rem;
    }
    @media (max-width: $MobileAnBelow) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 520px) {
      padding: 0 0rem;
    }

    .sub-cards-container {
      padding: 1.6rem;
      background-color: #fff;
      box-shadow: 3px 5px 20px 0px #0000000a;
      border-radius: 4px;
      border: 1px solid #213f7d0f;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      .user-card-img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        div {
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50%;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0.1;
        }
        img {
          padding: 10px;
          z-index: 2;
        }
      }
      p {
        font-size: 0.8rem;
        color: $SubTextColor;
        font-weight: 500;
      }
      h2 {
        color: $MainTextColor;
        font-size: 1.4rem;
      }
    }
  }
  .table-container {
    // min-width: 1034px; //?NOTE
    // overflow-x: auto;
    // background-color: red;
    padding: 1.2rem;

    // max-width: 100%;
    width: 70vw;
    margin: 0 auto;
    @media (min-width: $TabletAnBelow) {
      // width: 800px;
      margin: 0 auto;
    }
    @media (min-width: 1500px) {
      width: 100%;
      overflow-x: hidden;
    }
    @media (max-width: 1499px) and (min-width: 1375px) {
      width: 1060px;
      overflow-x: hidden;
    }
    @media (max-width: $TabletAnBelow) {
      width: 90vw;
    }
    box-shadow: 3px 5px 20px 0px #0000000a;
    border: 1px solid #213f7d0f;
    border-radius: 4px;
    // margin: 30px auto;
    overflow-x: auto;

    .user-table {
      width: 100%;
      background-color: #fff;
      gap: 40px;
      flex-shrink: 0;
      // table-layout: auto;
      // overflow-x: auto;
      // width: 100px;
      // border-spacing: 20px 0;
      thead {
        .user-table-header {
          font-size: 0.75rem;
          font-weight: 600;
          line-height: 14.08px;
          th {
            color: $SubTextColor;
            align-items: flex-start;
            padding-right: 2rem;
            position: relative;
            div {
              display: flex;
              align-items: center;
              gap: 6px;
              p {
                font-size: 0.75rem;
              }
              img {
                width: 15px;
              }
            }
            .Filter-container {
              right: -105px;
              top: 40px;
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              gap: 20px;
              border: 1px solid #545f7d24;
              box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
              border-radius: 4px;
              background-color: #fff;
              width: 300px;
              position: absolute;
              z-index: 4;
              .input-filter-all {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
              }
            }
          }
        }
      }
      tbody {
        .user-table-body {
          td {
            border-bottom: 1px solid #213f7d1a;
            padding: 1rem 0;
            color: $SubTextColor;
            padding-right: 20px;
            position: relative;
            .user-dropdown {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 1rem;
              gap: 10px;
              position: absolute;
              background-color: #fff;
              box-shadow: 3px 5px 20px 0px #0000000a;
              border: 1px solid #545f7d0a;
              z-index: 2;
              div {
                display: flex;
                align-items: center;
                gap: 4px;
                p {
                  font-size: 0.8rem;
                }
              }
              top: 46px;
              left: -116px;
            }
          }
          font-size: 0.77rem;
          // font-size: 0.875rem;
          font-weight: 400;
          line-height: 16.42px;
        }
      }
    }
  }
  .dashboard-user-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .showing-conatainer {
      p {
        font-size: 1rem;
        font-weight: 400;
        color: $SubTextColor;
        display: flex;
        align-items: center;
        gap: 4px;
        span {
          color: $MainTextColor;
          padding: 6px 10px;
          display: flex;
          align-items: center;
          gap: 16px;
          cursor: pointer;
          border-radius: 4px;
          background-color: #213f7d1a;
          font-size: 0.9rem;
          font-weight: 500;
        }
      }
    }
  }
}
