@import "../../style/variables";

.dashboard-layout {
  display: grid;
  grid-template-columns: 1.1fr 3.8fr;
  align-items: flex-start;
  width: 100%;
  justify-content: flex-start;
  gap: 2rem;

  @media (max-width: $TabletAnBelow) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-outlet-container {
    padding: 2rem 2rem 2rem 0;
    @media (max-width: $TabletAnBelow) {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 2rem 1rem;
    }
  }
}
